* {
  margin: 0px;
}

.list-user-list-container {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  display: grid;
  grid-template-columns: 80px 1fr 3fr;
  grid-template-rows: 20px;
  grid-auto-rows: 80px;
  grid-gap: 10px 5px;
}

.list-header {
  background-color: #2f4858;
  color: white;
  font-weight: bold;
}

.list-user-list-container img,
.detail-img {
  width: 80px;
}

.layout-app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.layout-app-header {
  color:white;
  background-color: #007661;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 10px;
}